@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-md-6">
        <img src="~/Content/images/logo-accor.png" style="max-width:100%" />
    </div>
    <div class="col-md-6">
        @if (!Request.IsAuthenticated)
        {
            <h1>HGBox</h1>
            <p class="lead">CostMaker is an online platform to help improve the efficencie of maken cost rapports and search up all kind of information</p>
            <p>
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Log In &raquo;</a>
            </p>
        }
        else
        {
            <h1>Search</h1>
            <p>
               U can search up all kind of information
            </p>
            <p>
                <a href="@Url.Action("Index", "Material")" class="btn btn-primary btn-lg">Materiaal opzoeken &raquo;</a>
            </p>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Handleiding</h2>
        <p>
            Indien u nog niet met dit systeem gewerkt heeft, kan u via onderstaande knop een korte handleiding bekijken.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Begin", "Tutorial")">Handleiding &raquo;</a>
        </p>
    </div>
    @if (!Request.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Aan de slag!</h2>
            <p>Via onderstaande knop kan u materiaal opzoeken om uiteindelijk te reserveren.</p>
            <p>
                <a class="btn btn-default" href="@Url.Action("Index", "Material")">Nu materiaal opzoeken! &raquo;</a>
            </p>
        </div>
    }
</div>