
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
.row-fluid-left {height: 100%; display:table-cell; vertical-align: middle; text-align: left;}

 

.centering {
  float:none;
  margin:0 auto;
}

html, body{height:100%; margin:0;padding:0}
.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
}